<div class="container-fluid">
  <div class="row">
    <div id="gallery" class="col-md-9">
      <div class="gallery">
        <div class="gallery-pet fader"
             *ngFor="let pet of pets | nameFilter: searchText"
             (click)="selectedPet(pet)"
             [ngClass]="{active: _selectedPet === pet}">
          <img class="profile-picture" [src]="'https://pettinder.herokuapp.com/' + pet.image">
          <div class="overlay">
            <div class="overlay-text">{{pet.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-md-3">
      <section  class="tiny-dialog">
      <h3>Find your pet</h3>
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name"
               name="name"
               class="form-control"
               placeholder="Name"
               [(ngModel)]="searchText">
      </div>
      </section>
    </div>
    <div class="col-md-3">
      <section class="tiny-dialog fader">
        <app-add-pet-form></app-add-pet-form>
      </section>
    </div>
    <div class="col-md-3 pull-right"
         *ngIf="_selectedPet">
      <div class="gallery-detail">
        <section id="petProfile" class="tiny-dialog fader">
          <h3>{{_selectedPet.name}}</h3>
          <p>{{_selectedPet.profileText}}</p>
          <p>Popularity: *ENUMVALUE* ({{_selectedPet.popularity}})</p>
          <div class="dialog-centered">
            <a type="button"
               class="btn btn-primary btn-lg dialog-centered"
               routerLink="/setup-date/{{_selectedPet.name}}"
            >
              Setup date
            </a>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>


