<div class="container-fluid">
  <div class="row">
    <div id="gallery" class="col-md-9">
      <div class="gallery">
        <div class="gallery-pet fader"
             *ngFor="let pet of pets | nameFilter: searchText"
             (click)="selectedPet(pet)"
             [ngClass]="{active: _selectedPet === pet}">
          <img class="profile-picture" [src]="'https://pettinder.herokuapp.com/' + pet.image">
          <div class="overlay">
            <div class="overlay-text">{{pet.name}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-md-3">
      <section  class="tiny-dialog">
      <h3>Find your pet</h3>
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name"
               name="name"
               class="form-control"
               placeholder="Name"
               [(ngModel)]="searchText">
      </div>
      </section>
    </div>
    <div class="col-md-3"
         *ngIf="_selectedPet">
      <div class="gallery-detail">
        <section id="petProfile" class="tiny-dialog fader">
          <h3>{{_selectedPet.name}}</h3>
          <p>{{_selectedPet.profileText}}</p>
          <p>Popularity: *ENUMVALUE* ({{_selectedPet.popularity}})</p>
        </section>
      </div>
    </div>
  </div>
</div>




<!--<div class="container-fluid">-->
<!--  <div class="row" >-->
<!--    <div id="gallery" class="col-md-9">-->
<!--      <div class="gallery">-->
<!--        <div class="gallery-pet fader"  *ngFor="let pet of pets | nameFilter: searchText"-->
<!--             (click)="selectPet(pet)">-->
<!--          <img class="profile-picture" [src]="'http://localhost:8080/'+ pet.image">-->
<!--          <div class="overlay">-->
<!--            <div class="overlay-text">{{pet.name}}</div>t-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-md-3">-->
<!--      <div class="gallery-detail">-->

<!--        <section class="tiny-dialog">-->
<!--          <h3>Find your pet</h3>-->
<!--          <div class="form-group">-->
<!--            <label for="name">Name</label>-->
<!--            <input id="name"-->
<!--                   name="name"-->
<!--                   class="form-control"-->
<!--                   placeholder="Name"-->
<!--                   [(ngModel)]="searchText">-->
<!--          </div>-->
<!--        </section>-->

<!--        <section class="tiny-dialog">-->
<!--          <h3>Add your pet</h3>-->
<!--          <app-petform></app-petform>-->


